:root {
	--main-bg-color: var(background-color);
	--lines-color: rgb(252, 227, 138);
	--gutter-color: #3f3f31;
	color: var(currentColor);
}

* {
  box-sizing: border-box;
}

body {
  margin: 0;
  height: 100vh;
  background-color: var(--main-bg-color);
  font-family: 'JetBrains Mono', monospace;
  font-family: 'Lato', sans-serif;
}

.container {
  display: grid;
  grid-template-columns: 1fr 1fr;
  height: calc(80.1822% - 5px);
  width: 100%;
}

textarea {
  width: 100%;
  /* height: 100vh; */
  resize: none;
  background: rgb(88, 75, 75);
  color: white;
  padding: 0.5rem 1rem;
}

iframe {
  height: 100%;
  width: 100%;
  border: 0;
}

.editor {
  /* height: 100vh; */
  background-color: var(--main-bg-color);
}

.cm-s-rails-envy {
	font-size: 1em;
	line-height: 1.5em;
	font-family: inconsolata, monospace;
	letter-spacing: 0.3px;
	word-spacing: 1px;
	background: #0f1729;
	color: #F8F8F2;
}

.cm-s-rails-envy--light {
	background-color: #ffffff !important;
	color: #000000;
}

.cm-s-rails-envy .CodeMirror-lines {
	padding: 8px 0;
}
.cm-s-rails-envy .CodeMirror-gutters {
	box-shadow: 1px 0 2px 0 rgba(0, 0, 0, 0.5);
	-webkit-box-shadow: 1px 0 2px 0 rgba(0, 0, 0, 0.5);
	background-color: #0f1729;
	padding-right: 10px;
	z-index: 3;
	border: none;
}
.cm-s-rails-envy div.CodeMirror-cursor {
	border-left: 3px solid #F8F8F2;
}
.cm-s-rails-envy .CodeMirror-activeline-background {
	background: #3E3D32;
}
.cm-s-rails-envy .CodeMirror-selected {
	background: #49483E;
}
.cm-s-rails-envy .cm-comment {
	color: #75715E;
}
.cm-s-rails-envy .cm-string {
	color: #FFFF66;
}
.cm-s-rails-envy--light .cm-string {
	color: #080808;
}

.cm-s-rails-envy .cm-number {
	color: #66D9EF;
}
.cm-s-rails-envy .cm-atom {
	color: #66D9EF;
}
.cm-s-rails-envy .cm-keyword {
	color: #40A187;
}
.cm-s-rails-envy .cm-variable {
	color: #A6E22E;
}

.cm-s-rails-envy--light .cm-variable  {
	color: #975203;
}

.cm-s-rails-envy .cm-def {
	font-style: italic;
	color: #FD971F;
}
.cm-s-rails-envy--light .cm-def {
	color: #975203;
}

.cm-s-rails-envy .cm-variable-2 {
	color: #52F9F9;
}
.cm-s-rails-envy .cm-property {
	color: #66D9EF;
}

.cm-s-rails-envy--light .cm-variable-2, .cm-s-rails-envy--light .cm-property  {
	color: #975203;
}

.xterm-rows--light {
	color: #000000 !important;
}

.cm-s-rails-envy .cm-operator {
	color: #40A187;
}
.cm-s-rails-envy .CodeMirror-linenumber {
	color: #75715E;
}

.trainer-block {
	position: relative;
	height: 100vh;
}

.xterm {
	height: 100%;
}

.terminal {
	overflow: hidden;
	/* background-color: var(--main-bg-color); */
}
iframe {
	background-color: #fff;
}
.xterm .xterm-viewport {
	background-color: var(--main-bg-color) !important;
}

.CodeMirror-scroll, .CodeMirror-sizer, .CodeMirror-gutter, .CodeMirror-gutters, .CodeMirror-linenumber {
	background-color: var(--main-bg-color);
}

.trainer-main {
	max-width: 2560px;
    margin-inline: auto;
    min-height: 100vh;
	display: flex;
	justify-content: space-between;
}

.trainer-main__nav-and-task {
	display: flex;
	background-color: var(--main-bg-color);
	/* color: #fff; */
}
.trainer-main__task {
	width: 100%;
	padding: 2rem;
	line-height: 2;
}

.trainer-main__nav, .trainer-block {
	position: sticky;
	top: 0;
}

.trainer-main__nav {
	padding: 1rem;
	height: 100vh;
	border-right: 1px solid var(--lines-color);
}

.navigation ul {
	list-style: none;
	margin: 0;
	padding: 0;
}
.navigatoin__logo {
	text-align: center;
	padding: 0.5rem;
	margin-bottom: 2rem;
}

.navigation a {
	text-decoration: none;
	padding: 0.5rem;
	display: block;
	text-align: center;
    line-height: 2;
}

.trainer-main__trainer {
	border-right: 1px solid rgb(36, 34, 34);
}

.split {
	display: flex;
	flex-direction: row;
	gap: 0;
}

.gutter {
	background-color: var(--gutter-color);
	background-repeat: no-repeat;
	background-position: 50%;
}

.gutter.gutter-horizontal {
	background-image: url('data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAUAAAAeCAYAAADkftS9AAAAIklEQVQoU2M4c+bMfxAGAgYYmwGrIIiDjrELjpo5aiZeMwF+yNnOs5KSvgAAAABJRU5ErkJggg==');
	cursor: col-resize;
}


.gutter.gutter-vertical {
	background-image: url('data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAB4AAAAFAQMAAABo7865AAAABlBMVEVHcEzMzMzyAv2sAAAAAXRSTlMAQObYZgAAABBJREFUeF5jOAMEEAIEEFwAn3kMwcB6I2AAAAAASUVORK5CYII=');
	cursor: row-resize;
}

.theme-switch {
	position: fixed;
    bottom: 20px;
    text-align: center;
    margin: 0 auto;
    width: 86px;
}

.text {
	color: #fff;
}