<htmx id="trainer"> 
<link rel="stylesheet" href="/public/codemirror.css" />
<link rel="stylesheet" href="/public/style.css" />

<script src="/public/codemirror.js"></script>
<script src="/public/javascript.js"></script>

<div id="app"></div>
<script>var exports = {};</script>
<script type="module" src="/public/dist/bundle.js"></script>
</htmx>