<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
     <link rel="stylesheet" href="/public/codemirror.css" />
    <link rel="stylesheet" href="/public/style.css" />

    <script defer src="/public/codemirror.js"></script>
    <script defer src="/public/javascript.js"></script>
    <script>var exports = {};</script>
    <script defer type="module" src="/public/dist/bundle.js"></script>
</head>
<body>
    
</body>
</html>
<htmx id="trainer">
    
   <trainer-component>
    <div id="app"></div>
   </trainer-component> 
    
</htmx>