<htmx id="trainer" _="on htmx:afterSettle log 'Settled!'"> 
    <link rel="stylesheet" href="/public/codemirror.css" />
    <link rel="stylesheet" href="/public/style.css" />

    <script defer src="/public/codemirror.js"></script>
    <script defer src="/public/javascript.js"></script>

    <div id="app"></div>
    <script>var exports = {};</script>
    <script hx-trigger="htmx:afterSwap"defer type="module" src="/public/dist/bundle.js"></script>
</htmx>