<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link
      href="https://cdn.jsdelivr.net/npm/daisyui@2.6.0/dist/full.css"
      rel="stylesheet"
      type="text/css"
    />
    <script src="/public/tailwind.js?plugins=forms,typography,aspect-ratio,line-clamp"></script>
</head>
<body>
    <article class="prose">
    <h1>This is main page</h1>
    <p>please authorise the service with <a href="/auth?single=full">this</a> link
        <div>
            <h3>Credentials</h3>
            login: test@test.ss <br>
            password: Asdqe123!
        </div>
    </p>
    <p>or follwo the dummy trainig by this <a href="/services/?module=trainer&task=2">link</a></p>
    </article>
 
</body>
</html>