{{!-- This is a pure files import. uncomment this line for the development --}}
<link rel="stylesheet" href="/public/carousel.styles.css">
<script type="module" defer src="/public/carousel.component.js"></script>

{{!-- This is a bundle of CSS + JS for the production --}}
{{!-- <script type="module" defer src="/public/dist/bundle.js"></script> --}}

<!-- For POC using an external tooltip web component, in the future would use our own tooltip web component -->
<script type="module" defer src="https://cdn.jsdelivr.net/npm/@shoelace-style/shoelace@2.11.2/cdn/components/tooltip/tooltip.js"></script>
<!-- Remove general wrapper on implementation stage its required only to see the limitation -->
<div class="general-wrapper">
    <carousel-component class="relative" viewType="{{viewType}}">
        <ul class="carousel-component carousel-component--{{viewType}}">
        {{#each data}}
            <li>
                {{> item this}}
            </li>
        {{/each}}
        </ul>
    </carousel-component>
</div>

