<nav class="navigation">
    <div class="navigatoin__logo">
        {{> logo}}
    </div>
    <ul class="menu text">
        <li>
            <a href="#" class="link">
                <div><i class="fa fa-file-text-o"></i></div>
                <div>Docs</div>
            </a>
        </li>	
        <li>
            <a href="#">
                <div><i class="fa fa-code"></i></div>
                <div>Tutorials</div>
            </a>
        </li>
        <li>
            <a href="#">
                <div><i class="fa fa-database"></i></div>
                <div>Knowledge base</div>
            </a>
        </li>
        <li>
            <a onclick="logout.showModal();">
                <div><i class="fa fa-sign-out"></i></div>
                <div>Sign out</div>
            </a>
            <dialog id="logout" class="modal modal-bottom sm:modal-middle">
                <div class="modal-box">
                    <h3 class="font-bold text-lg">You are now will leave the system</h3>
                    <p class="py-4">Press 'Log out' button to proceed and 'Close' to return to trainings</p>
                    <div class="modal-action">
                    <form method="dialog">
                        <button class="btn mr-4 btn-primary" hx-delete="/auth">Log out</button>
                        <button class="btn">Cancel</button>
                    </form>
                    </div>
                </div>
            </dialog>
            
        </li>
    </ul>
    

    
    <div class="theme-switch">
            {{> changeTheme}}
    </div>

</nav>