<nav class="navigation">
    <div class="navigatoin__logo">JS<br />Quest</div>
    <ul>
        <li><a href="#">ddfasdf</a></li>
        <li><a href="#">ddfasdf</a></li>
        <li><a href="#">ddfasdf</a></li>
        <li><a href="#">ddfasdf</a></li>
        <li><a href="#">ddfasdf</a></li>
        <li><a href="#">ddfasdf</a></li>
    </ul>
</nav>