<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="/public/htmx.min.js"></script>
    <title>Document</title>
</head>
<body>
    <h1>Tarainer app</h1>
    <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Nihil dolorem, dolorum illum tempore numquam cum! Dolore placeat sed velit rerum unde officia pariatur, nulla soluta ratione iste possimus vitae molestias?</p>
    <div hx-get="/?module=trainer" hx-trigger="load" hx-boost="true">
     Load trainer app
    </div>
</body>
</html>